@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    }

:root {
    --principal: #535F2D;
    --secundario: #EAB465;
}

body { 
    font-family: 'Averia Serif Libre', cursive;
}

.logo {
    height: 90px;
}


.nav_container {
    background-color: var(--principal);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-link {
    color: var(--secundario) ;
}

.nav-link:hover {
    color: white;
}

.section {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.slogan {
    display: flex;
    font-size: xx-large;
}

.text {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 70px 10px 10px ;
}

.img {
    background-size: cover;
    width: 350px;
    border-radius: 30px;
}

.input {
    display: flex;
    gap: 10px;
}

.input-1 {
    color: white;
    width: 150px;
    display: flex;
    justify-content: center;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: var(--principal);
    cursor: pointer;
}
.input-2 {
    color: white;
    width: 150px;
    display: flex;
    justify-content: center;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: var(--principal);
    cursor: pointer;
}

.container_text {
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 30px;
}
.text_2 {
    background-color: var(--principal);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    padding: 30px;
    width: 800px;
    height: 200px;
    text-align: center;
    font-size: x-large
}