@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    }

body { 
    font-family: 'Averia Serif Libre', cursive;
}

.logo {
    height: 90px;
}


.header {
    background-color: #535F2D;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-link {
    color: #EAB465 ;
}

.nav-link:hover {
    color: white;
}